

@model List<CarsssDealer.Models.CarsssModels.Carsss>
@{
    ViewData["Title"] = "Car";
}

<h1>Welcome to CarDealer</h1>

<form class="form-horizontal form-group" method="post">

    <label>Make</label>
    <input type="text" />
    <br />
    <label>Model</label>
    <input type="text" />
    <br />
    <label>Travelled distance</label>
    <input type="text" />

    <button type="submit">Create</button>


</form>
